.DS_Store
no-commit-notes.txt

# Source et results migrationTool
src/main/resources/migrationTool/*.sql
/migrationTool/migrated/*

# Compiled class file
*.class
/target/

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.springBeans

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#IntelliJ
.idea
mySandboxApp.iml

# eclipse project file
.settings/
.classpath
.project

